# Ambiente virtual
venv/
.env/
.venv/

# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheiros de build / dist
build/
dist/
*.spec

# Dados locais
data/*.json
!data/moradores_exemplo.json  # mantém um exemplo se quiseres

# Configs de IDE
.vscode/
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db