# Ambiente virtual
venv/
.env/
.venv/

# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheiros de build / dist
build/
dist/
*.spec

# Dados locais
data/moradores.json

recibos/*.pdf

config/*.png

# Configs de IDE
.vscode/
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db