# Ambiente virtual
venv/
.env/
.venv/

# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Builds / executáveis
*.exe
dist/
build/
installer/

# Dados locais
data/moradores.json

recibos/*.pdf

config/*.png

# Configs de IDE
.vscode/
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db